<a [routerLink]="[index]" routerLinkActive="active" style="cursor: pointer" class="list-group-item clearfix">
    <div class="pull-left">
      <span class="list-group-item-heading">
        <h3><strong><em>{{recipe.name}}</em></strong></h3>
      </span>
      <div class="list-group-item-text">
        <i>{{recipe.description}}</i>
      </div>
    </div>
    <span class="pull-right">
      <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="max-height: 50px;">
     </span>
  </a>